PORT=3000
HOST=0.0.0.0

SUPABASE_URL=https://wrqbwyyntobqygjmnmtx.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndycWJ3eXludG9icXlnam1ubXR4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5MDM3OTgsImV4cCI6MjA5MDQ3OTc5OH0.3FrVNvFz4F-uK1r9sJ57cT-A8YUUBlygf0VdEeYHWMU
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key-here
